<!-- BARRA DE NAVEGACIÓN ADMINISTRACIÓN-->
<header class="barraNavegacion">
  <input type="checkbox" id="btn-menu" />
  <label for="btn-menu"
    ><fa-icon [icon]="faBars" class="icons"></fa-icon
  ></label>

  <img class="logoIcon" src="/assets/HorizontalLogo.png" />

  <nav class="menu">
    <ul>
      <li (click)="goHome()">
        <fa-icon [icon]="faHome" class="icons"></fa-icon>
      </li>
      <li>
        <a (click)="contemplationsAdministration()"> Contemplaciones</a>
      </li>
      <li>
        <a (click)="pausesAdministration()"> Pausas </a>
      </li>
      <li>
        <fa-icon [icon]="faChartLine" class="icons"></fa-icon>
      </li>
      <li>
        <fa-icon [icon]="faSignOutAlt" class="icons"></fa-icon>
      </li>
    </ul>
  </nav>
</header>
