<!-- BARRA DE NAVEGACIÓN ADMINISTRACIÓN-->
<header class="barraNavegacion">
  <input type="checkbox" id="btn-menu" />
  <label for="btn-menu"><img src="/assets/IconMenu.png" /></label>

  <nav class="menu">
    <ul>
      <span>
        <img class="logoIcon" src="/assets/HorizontalLogo.png" />
      </span>
      <li>
        <a (click)="contemplationsAdministration()">
          Administrar contemplaciones</a
        >
      </li>
      <li>
        <a (click)="pausesAdministration()"> Administrar pausas </a>
      </li>
      <li>
        <a> Estadísticas </a>
      </li>
      <li>
        <a (click)="goHome()">
          <img
            class="barraNavegacionIconos"
            src="/assets/IconHome.png"
            alt=""
          />
          Inicio
        </a>
      </li>
      <li>
        <a>
          <img
            class="barraNavegacionIconos"
            src="/assets/IconLogout.png"
            alt="Cerrar Sesion"
          />
          Cerrar Sesión
        </a>
      </li>
    </ul>
  </nav>
</header>
