<!-- BARRA DE NAVEGACIÓN ADMINISTRACIÓN-->
<header class="barraNavegacion">
  <nav class="barraNavegacion">
    <!-- Logo, chat, mis chefs -->
    <ul class="barraNavegacionLista">
      <li class="barraNavegacionItem"></li>

      <li class="barraNavegacionItemLogo">
        <!-- Logo de la app -->
        <a class="barraNavegacionLogo">
          <img src="/assets/HorizontalLogo.png" alt="Logo" />
        </a>
      </li>
      <li class="barraNavegacionItem barraNavegacionItemAnimation">
        <a> Administrar contemplaciones </a>
      </li>
      <li class="barraNavegacionItem barraNavegacionItemAnimation">
        <a> Administrar pausas </a>
      </li>
      <li class="barraNavegacionItem barraNavegacionItemAnimation">
        <a> Estadísticas </a>
      </li>
    </ul>

    <!-- Perfil, home, cerrar sesión -->
    <ul class="barraNavegacionLista">
      <li class="barraNavegacionItem barraNavegacionItemAnimation">
        <a>
          <img
            class="barraNavegacionIconos"
            src="/assets/IconHome.png"
            alt=""
          />
          Inicio
        </a>
      </li>
      <li class="barraNavegacionItem barraNavegacionItemAnimation">
        <a>
          <img
            class="barraNavegacionIconos"
            src="/assets/IconLogout.png"
            alt="Cerrar Sesion"
          />
          Cerrar Sesión
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- MENU DESLIZANTE -->
<div class="contenedorMenuDeslizante">
  <!-- Boton del menu deslizante -->
  <input class="botonHamburguesa" type="checkbox" />
  <div class="iconoHamburguesa">
    <img src="/assets/IconMenu.png" alt="#" />
  </div>
</div>
