<div id="contemplationCardContainer">
  <button
    class="contemplationCard"
    *ngFor="let contemplacion of contemplaciones; let numeroDia = index" 
    (click)="myConsiderationAudio()"
  >
    <div class="cardTitle">
      <h4>{{ contemplacion.nombre }}</h4>
    </div>
    <div class="cardDetails">
      <p>Día: {{ numeroDia + 1 }}</p>
      <p>Tipo: audio</p>
      <p>Fecha: {{ contemplacion.fecha + 1 }}</p>
    </div>
  </button>
  <button
    class="contemplationCard"
    *ngFor="let contemplacion of contemplaciones; let numeroDia = index" 
    (click)="myConsiderationText()"
  >
    <div class="cardTitle">
      <h4>{{ contemplacion.nombre }}</h4>
    </div>
    <div class="cardDetails">
      <p>Día: {{ numeroDia + 1 }}</p>
      <p>Tipo: text</p>
      <p>Fecha: {{ contemplacion.fecha + 1 }}</p>
    </div>
  </button>
</div>
