* {
  box-sizing: border-box;
  font-family: "fuentePagina";
}

.seeSpiritualExercise {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.content {
  padding-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-bottom: 2rem;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.generalContent {
  padding-top: 10px;
}

h1 {
  color: #e5e5e9;
  font-weight: bold;
}

h3 {
  color: #e5e5e9;
  font-style: italic;
}
