<body>
  <app-navbar></app-navbar>
  <div class="mainBody">
    <div class="news">
      <img />
      <p>Aca va info</p>
    </div>
    <div class="progress">
      <div>
        <p>Contemplaciones</p>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">100%</div>
          <div class="circle">
            <div class="bar left">
              <div class="progress"></div>
            </div>
            <div class="bar right">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p>Pausas</p>
        <div class="circular">
          <div class="inner"></div>
          <div class="number">100%</div>
          <div class="circle">
            <div class="bar left">
              <div class="progress"></div>
            </div>
            <div class="bar right">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const numb = document.querySelector(".number");
    let counter = 0;
    setInterval(() => {
      if (counter == 100) {
        clearInterval();
      } else {
        counter += 1;
        numb.textContent = counter + "%";
      }
    }, 80);
  </script>
</body>
