*{
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
}

.infoProfile {
  padding: 40px;
  margin-top: 1rem;
  padding-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  border-style: solid;
  border-color: rgb(128, 128, 128, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.infoProfilePhoto {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.transparentButton{
  background-color: transparent;
  border-style: none;
  overflow: hidden;
}

.profilePhoto {
  width: 150px;
  border-radius: 50%;
}

.avatars {
  width: 100%;
  border-style: solid;
  border-color: rgb(128, 128, 128, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.avatars p{
  font-size: small;
}

.showAvatar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.avatar1{
  width: 150px;
  padding-top: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: none;
  background-image: url(/assets/GirlAvatar1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar2{
  width: 150px;
  padding-top: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: none;
  background-image: url(/assets/GirlAvatar2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar3{
  width: 150px;
  padding-top: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: none;
  background-image: url(/assets/BoyAvatar1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar4{
  width: 150px;
  padding-top: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: none;
  background-image: url(/assets/BoyAvatar2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.profileNickname {
  font-size: large;
  font-weight: bold;
}

.profileNickname p {
  color: #3680ee;
}

.wrap {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(128, 128, 128, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tabSplit {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 90%;
  justify-content: center;
  border-color: rgb(128, 128, 128, 0.3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: solid;
}

.contemplationTab {
  width: 50%;
  padding-top: 10px;
  text-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-style: none;
  transition: 0.3s;
}

.contemplationTab:focus {
  transform: scale(1.1);
  background-color: #3680ee;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.pauseTab {
  width: 50%;
  padding-top: 10px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-style: none;
  transition: 0.2s;
}

.pauseTab:focus {
  transform: scale(1.1);
  background-color: #3680ee;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.lists {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1045px) {
  * {
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: 0.87em;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}
.infoProfile{
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  height: 90%;
  justify-content:start;
}

  .infoProfilePhoto {
    width: 100%;
    height: 30%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    margin-bottom: 0;
    justify-content: space-around;
    overflow: hidden;
  }

  .infoProfilePhoto {
    margin-top: 20%;
    display: column;
    justify-content: space-around;
    align-items: center;
  }

  .profilePhoto {
    width: 125px;
    background-color: transparent;
    border-radius: 50%;
  }

  .profileNickname {
    font-size: small;
    font-weight: bold;
  }

  .profileNickname p {
    color: #3680ee;
  }

  .wrap {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 50%;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .tabSplit {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 90%;
    height: 3.2rem;
    justify-content: center;
    border-color: rgb(128, 128, 128, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .contemplationTab {
    width: 50%;
    padding-top: 10px;
    height: 3rem;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-style: none;
    transition: 0.3s;
  }

  .contemplationTab:focus {
    transform: scale(1.1);
    background-color: #3680ee;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .pauseTab {
    width: 50%;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-style: none;
    transition: 0.2s;
  }

  .pauseTab:focus {
    transform: scale(1.1);
    background-color: #3680ee;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .lists {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
  }

  .avatars {
    border-style: none;
    border-color: rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .avatars p{
    font-size: small;
  }
  
  .showAvatar{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .avatar1{
    width: 70px;
    padding-top: 70px;
  }
  .avatar2{
    width: 70px;
    padding-top: 70px;
  }
  .avatar3{
    width: 70px;
    padding-top: 70px;
  }
  .avatar4{
    width: 70px;
    padding-top: 70px;
  }
}
