<app-navbar></app-navbar>
<div class="infoProfile">
    <!-- Sección superior (foto y nickname) -->
    <div class="infoProfilePhoto">
      <img class="profilePhoto" src="https://freesvg.org/img/abstract-user-flat-1.png" alt="">
      <p class="profileNickname"> Nombre de Usuario: </p>
    </div>
    <!-- Sección inferior (Datos personales) -->
    <div class="wrap">
        <div class="tabSplit">
            <button class="contemplationTab">
                <p>Mis Contemplaciones</p>
            </button>            
            <button class="pauseTab">
                <p>Mis Pausas</p>
            </button>        
        </div>
    </div>
</div>
