<app-navbar></app-navbar>

<div class="mainBody">
  <table class="buttonsContainer">
    <tr *ngFor="let contemplacion of contemplaciones">
      <td
        *ngIf="contemplacion.deshabilitado == contemplacion.completado"
        class="excerciseButton"
        (click)="navSpiritualExcercise('dia1')"
      >
        Contemplación {{ contemplacion.nombre }}
      </td>
      <td
        *ngIf="
          contemplacion.deshabilitado != contemplacion.completado &&
          contemplacion.deshabilitado == 'true'
        "
        class="excerciseButtonDisable"
        (click)="navSpiritualExcercise('dia1')"
      >
        Contemplación {{ contemplacion.nombre }}
      </td>
      <td
        *ngIf="
          contemplacion.deshabilitado != contemplacion.completado &&
          contemplacion.completado == 'true'
        "
        class="excerciseButtonCompleted"
        (click)="navSpiritualExcercise('dia1')"
      >
        Contemplación {{ contemplacion.nombre }}
      </td>
    </tr>
  </table>
</div>
