* {
  margin: 0%;
  padding: 0%;
}

.audioContainer {
  padding: 40px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 14rem;
  padding-right: 14rem;
  width: 100%;
  height: 100%;
  border-style: none;
  border-color: rgb(128, 128, 128, 0.3);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.audioControl {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.playButton {
  width: 3rem;
  height: 3rem;
  padding-top: 3rem;
  background-color: transparent;
  border-style: none;
  background-image: url(/assets/playButton.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.playButton:hover {
  background-color: #888a8d;
  border-radius: 20px;
}

.pauseButton {
  width: 3rem;
  height: 3rem;
  padding-top: 1rem;
  background-color: transparent;
  border-style: none;
  background-image: url(/assets/pauseButton.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  transition: 0.3s;
}

.pauseButton:hover {
  background-color: #888a8d;
  border-radius: 20px;
}

.stopButton {
  width: 3rem;
  height: 3rem;
  padding-top: 1rem;
  background-color: transparent;
  border-style: none;
  background-image: url(/assets/stopButton.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  transition: 0.3s;
}

.audioList {
  list-style: none;
  font-size: larger;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.audioList:hover {
  color: #3680ee;
  cursor: pointer;
}

.volumeConfig {
  display: flex;
}

.volumeConfig span {
  margin-right: 1rem;
}

input[type="range"] {
  display: block;
  width: 20rem;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: #777;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid #333;
  border-radius: 50%;
  margin-top: -0.5rem;
}
input[type="range"]::-moz-range-thumb {
  background-color: #777;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.5rem solid #333;
  border-radius: 50%;
}
input[type="range"]::-ms-thumb {
  background-color: #777;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #333;
  border-radius: 50%;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 0.2rem;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background-color: #777;
  height: 0.2rem;
}
input[type="range"]::-ms-track {
  background-color: #777;
  height: 0.2rem;
}
input[type="range"]::-ms-fill-upper {
  background-color: black;
}

@media (max-width: 1045px) {
  .audioContainer {
    padding: 40px;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.3);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.568);
  }

  .audioControl {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: rgb(63, 123, 235);
    width: 100%;
    justify-content: space-evenly;
  }

  .playButton {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-style: none;
    background-image: url(/assets/playButton.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
  }

  .pauseButton {
    width: 3rem;
    height: 3rem;
    padding-top: 1rem;
    background-color: transparent;
    border-style: none;
    background-image: url(/assets/pauseButton.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
  }

  .stopButton {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-style: none;
    background-image: url(/assets/stopButton.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    transition: 0.3s;
  }

  .audioList {
    list-style: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  .audioList:hover {
    color: #3680ee;
    cursor: pointer;
  }

  .volumeConfig {
    display: flex;
  }

  .volumeConfig span {
    margin-right: 1rem;
  }

  input[type="range"] {
    display: block;
    width: 3rem;
    background-color: transparent;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"],
  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    background-color: #777;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid #333;
    border-radius: 50%;
    margin-top: -0.5rem;
  }
  input[type="range"]::-moz-range-thumb {
    background-color: #777;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.5rem solid #333;
    border-radius: 50%;
  }
  input[type="range"]::-ms-thumb {
    background-color: #777;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #333;
    border-radius: 50%;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 0.2rem;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
  }

  input[type="range"]::-moz-range-track {
    background-color: #777;
    height: 0.2rem;
  }
  input[type="range"]::-ms-track {
    background-color: #777;
    height: 0.2rem;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: black;
  }
}
