<body class="mainBody">
  <app-navbar></app-navbar>
  <div class="content">
    <h2>Día 1 | Título Pausa</h2>
    <h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et soluta
      aspernatur culpa magni perferendis.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aperiam eaque
      expedita distinctio temporibus.
    </h1>
    <div class="content">
      <app-audio-player></app-audio-player>

      <div class="considerationNavButtons" *ngIf="showSpam == true">
        <button class="formNavButton" (click)="showFormu()">
          ¿Cómo te sentiste hoy?
        </button>
        <button class="completeNavButton" (click)="navPauseMap()">
          ¡Lo hare más tarde!
        </button>
      </div>
      <div class="sliderContainer">
        <div *ngIf="showForm == true">
          <form class="formulario">
            <h5>¿Cómo te fue hoy?</h5>
            <h6>Elige un sentimiento</h6>

            <div class="slidecontainer">
              <input
                type="range"
                min="1"
                max="10"
                value="5"
                class="slider"
                id="myRange"
              />
              <p><span id="demo"></span></p>
            </div>

            <img src="/assets/NeutralIcon.png" id="emotionImage" />

            <button class="sendButton" (click)="navPauseMap()">
              <img src="/assets/saveIcon.png" />
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
