<body class="mainBody" [ngStyle]="{'background-image': 'url('+urlImage+')'}">
  <app-navbar></app-navbar>
  <div class="content">
    <h2>{{dayIndex}} | {{title}}</h2>
    <h1>
      {{sentenceone}}
    </h1>
    <h1>
      {{sentencetwo}}
    </h1>
    <div class="content">
      <div class="audioContainer">
        <ul>
          <button class="loadAudio" (click)="openFile(urlAudio)">
            Cargar Audio
          </button>
          <audio controls id="audio" >
            <source type="audio/mp3" />
          </audio>
        </ul>
      </div>

      <div class="considerationNavButtons" *ngIf="showSpam == true">
        <button class="formNavButton" (click)="showFormu()">
          ¿Cómo te sentiste hoy?
        </button>
        <button class="completeNavButton" (click)="navPauseMap()">
          ¡Lo hare más tarde!
        </button>
      </div>
      <div class="sliderContainer">
        <div *ngIf="showForm == true">
          <form class="formulario">
            <h5>¿Cómo te fue hoy?</h5>
            <h6>Elige un sentimiento</h6>
            <div class="emoji">😄</div>
            <div class="slider">
              <input type="range" id="rangeInput" value="0" min="0" max="7" step="1" (change)="emoji()">
            </div>

            <button class="sendButton" (click)="navPauseMap()">
              <fa-icon
                [icon]="faSave"
                class="icons"
              ></fa-icon> Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
