* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: small;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.mainBody {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-align: center;
}

h1 {
  padding: 1.5rem;
  color: #e5e5e9;
  font-style: italic;
  margin-bottom: 1rem;
}

h2 {
  color: #247cff;
  margin-bottom: 1rem;
}

h4 {
  color: #a5a5a5;
  margin-bottom: 0.5rem;
}

h5 {
  color: #247cff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6 {
  color: #3a3a3a;
  margin-bottom: 1rem;
}

.content {
  margin-top: 3rem;
  padding-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-bottom: 2rem;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.considerationNavButtons {
  display: flex;
  flex-direction: column;
}

.formNavButton {
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 2rem;
  border-style: none;
  transition: 0.2s;
}

.completeNavButton {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 2rem;
  border-style: none;
  transition: 0.2s;
}

.loadAudio {
  width: 40%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 2rem;
  border-style: none;
  transition: 0.2s;
}

.emoji {
  font-size: 64px;
  text-align: center;
}

input[type='range'] {
  display: block;
  width: 250px;
  height: 64px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: rgb(169, 218, 240);
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 132, 132);
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: rgb(169, 218, 240);
  width: 15px;
  height: 15px;
  border: 3px solid rgb(255, 132, 132);
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: rgb(169, 218, 240);
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 132, 132);
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: rgb(169, 218, 240);
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: rgb(169, 218, 240);
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: rgb(169, 218, 240);
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: white
}

input[type=range]::-ms-fill-upper {
  background-color: black;
} 

.slider {
  display: flex;
  justify-content: space-between;
}

.sendButton {
  cursor: pointer;
  margin: 1rem;
  border-radius: 2rem;
  padding: 0.2rem 2rem;
  width: wrap;
  height: 4rem;
  background-color: #38cc58;
  border-style: none;
  transition: 0.5s;
  color: white;
}

.sendButton:hover,
.sendButton:active {
  transform: scale(1.08);
  background-color: #33c553;
}

@keyframes animate {
  0% {
    width: 40%;
    height: 100%;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 40%;
    height: 100%;
    opacity: 0.5;
  }
}

.formulario {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.slider-wrapper {
  display: inline-block;
  width: 100%;
  height: 150px;
  padding: 0;
  overflow: hidden;
}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

@media (max-width: 450px) {
  * {
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: small;
    margin: 0px;
    padding: 0px;
    overflow: auto;
  }
  .pauseNavButtons {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .formNavButton {
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 2rem;
    border-style: none;
    transition: 0.2s;
  }

  .completedNavButton {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 2rem;
    border-style: none;
    transition: 0.2s;
  }

  .audioContainer {
    padding: 40px;
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    height: wrap;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.3);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.568);
  }

  
}
