<app-navbar-admin (valueResponse)="recibiRespuesta($event)"></app-navbar-admin>
<div class="page">
  <h1 *ngIf="typeExercise == 'contemplation'">Contemplaciones ignacianas</h1>
  <h1 *ngIf="typeExercise == 'pause'">Pausas ignacianas</h1>
  <div class="tableContainer">
    <table>
      <thead>
        <th>Día</th>
        <th>Título ejercicio espiritual</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of spiritualExercises">
          <td>{{ exercise.day }}</td>
          <td>{{ exercise.title }}</td>
          <td class="options">
            <fa-icon
              [icon]="faEye"
              class="icons"
              (click)="seeSpiritualExercise(exercise)"
            ></fa-icon>
            <fa-icon
              [icon]="faPencilAlt"
              class="icons"
              (click)="editSpiritualExercise(exercise)"
            ></fa-icon>
            <fa-icon [icon]="faTrashAlt" class="icons"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
  </div>
</div>
<app-footer-admin></app-footer-admin>
