@media screen and (min-width: 200px) and (max-width: 1500px) {
  .tableContainer {
    text-align: center;
  }
  table {
    overflow-x: auto;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  th {
    background-color: #79d9f1;
    color: white;
  }
  .iconoWatch {
    width: 60px;
    height: 40px;
  }

  .iconoEdit {
    width: 50px;
    height: 40px;
  }

  .iconoRemove {
    width: 50px;
    height: 40px;
  }
}
