<app-navbar-admin></app-navbar-admin>
<h1>Pausas ignacianas</h1>
<div class="tableContainer">
  <table>
    <thead>
      <th>ID</th>
      <th>Título pausa ignaciana</th>
      <th>Visualizar</th>
      <th>Editar</th>
      <th>Eliminar contenido</th>
    </thead>
    <tbody>
      <tr *ngFor="let pause of pauses">
        <td>{{ pause.idExercise }}</td>
        <td>{{ pause.title }}</td>
        <td><img src="/assets/iconoVer.png" class="iconoWatch" /></td>
        <td><img src="/assets/iconoEditar.png" class="iconoEdit" /></td>
        <td><img src="/assets/iconoEliminar.png" class="iconoRemove" /></td>
      </tr>
    </tbody>
  </table>
</div>
