<div id="contemplationCardContainer">
    <button class="contemplationCard">
        <div class="cardTitle">
            <p>Nombre: título día</p>
        </div>
        <div class="cardDetails">
            <p>Día: - día</p>
            <p>Tipo: audio </p>
            <p>Fecha: dd/mm/yyyy</p>
        </div>
    </button>
    <button class="contemplationCard">
        <div class="cardTitle">
            <p>Nombre: titulo dia</p>
        </div>
        <div class="cardDetails">
            <p>Día: - día </p>
            <p>Tipo: texto </p>
            <p>Fecha: dd/mm/yyyy</p>
        </div>         
    </button>
    <button class="contemplationCard">
        <div class="cardTitle">
            <p>Nombre: título día</p>
        </div>
        <div class="cardDetails">
            <p>Día: - día</p>
            <p>Tipo: audio </p>
            <p>Fecha: dd/mm/yyyy</p>
        </div>
    </button>
    <button class="contemplationCard">
        <div class="cardTitle">
            <p>Nombre: titulo dia</p>
        </div>
        <div class="cardDetails">
            <p>Día: - día </p>
            <p>Tipo: texto </p>
            <p>Fecha: dd/mm/yyyy</p>
        </div>         
    </button>
</div>