<div class="containerHome">
  <div class="traslucidContainer">
    <img src="/assets/VerticalLogo.png" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus quidem
      repellendus deleniti corrupti totam ipsam, quae numquam, excepturi
      eligendi, maiores corporis? Hic qui sit saepe, amet ab asperiores impedit
      nihil.
    </p>
    <div class="buttonContainer">
      <button class="buttonLogin btn btn-primary btn-block" (click)="login()">
        <img src="/assets/IconLogin.png" />Ingresar
      </button>
      <button
        class="buttonCreateAccount btn btn-primary btn-block"
        (click)="createAccount()"
      >
        <img src="/assets/IconLogin.png" />Crear cuenta
      </button>
    </div>
  </div>
</div>
