<footer class="footerAdmin">
  <div class="contentFooter">
    <table>
      <tr>
        <td class="column1">
          <img src="/assets/escudoPUJ.png" />
          <h6>Centro Pastoral- 21 días contigo</h6>
          <a href="https://twitter.com/unijaveriana">
            <img src="/assets/iconoTwitter.png" class="linkTwitter" />
          </a>
          <a href="https://www.youtube.com/user/UniJaveriana">
            <img src="/assets/iconoYoutube.png" class="linkYoutube" />
          </a>
          <a href="https://www.facebook.com/unijaveriana">
            <img src="/assets/iconoFacebook.png" class="linkFacebook" />
          </a>
        </td>
        <td class="column2"></td>
        <td class="column3">
          <p>Pontificia Universidad Javeriana - Bogotá D.C. - Colombia</p>
          <p>Carrera 7 N°. 40 - 62 - Tel: (571) 320 8320</p>
          <p class="text1">
            Sujeta a inspección y vigilancia por parte del Ministerio de
            Educación Nacional (artículo 39 del decreto 1295 de 2010)
          </p>
          <a
            href="https://www.javeriana.edu.co/documents/10179/25283/Personer%C3%ADa+Junio+2016.pdf/5d062d9a-7865-4c52-8c24-a5b3a1002fa0"
            class="link"
          >
            <i>Certificado de existencia y representación legal</i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <!-- Copyright -->
  <div class="finalFooter">
    © Todos los derechos reservados - Pontificia Universidad Javeriana
  </div>
  <!-- Copyright -->
</footer>
