<div class="home">
  <div class="head">
    <img src="/assets/HorizontalLogo.png" class="logo" />
    <hr />
    <br />
  </div>
  <div class="content">
    <h1>Administración</h1>
    <div class="options">
      <div
        class="buttonContemplationAdministration"
        (click)="contemplationsAdministration()"
      >
        <img
          src="/assets/contemplacionHomeAdmin.png"
          class="imageContemplationHomeAdmin"
        />
      </div>
      <div class="buttonPauseAdministration" (click)="pausesAdministration()">
        <img src="/assets/pausaHomeAdmin.png" class="imagePauseHomeAdmin" />
      </div>
      <div class="buttonStadistics" (click)="stadistics()">
        <img src="/assets/estadisticas.jpg" class="imageStadistics" />
      </div>
    </div>
  </div>
</div>
