* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
head {
  display: flex;
  flex-direction: row;
}

.icon {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 30px;
}

.logo {
  width: 300px;
  height: 60px;
  text-align: center;
  margin-bottom: 5px;
}
.home {
  background-color: rgb(199, 216, 228);
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttonContemplationAdministration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.buttonPauseAdministration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.buttonStadistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.buttonMostUsedExercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.buttonMostUsedConsideration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 10px;
}
.letterBackground {
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(108, 118, 121, 0.3);
}

h3 {
  -webkit-text-stroke: 0.2px white;
  -webkit-text-fill-color: black;
  //font-weight: bold;
  text-align: center;
}

@media (max-width: 1045px) {
  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
