.logo {
  width: 300px;
  height: 60px;
  text-align: center;
}
.home {
  background-color: rgb(148, 255, 219);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttonContemplationAdministration {
  margin: 10px;
}
.buttonPauseAdministration {
  margin: 10px;
}

.imageContemplationHomeAdmin {
  width: 300px;
  height: 200px;
}
.imagePauseHomeAdmin {
  width: 300px;
  height: 200px;
}
