<div class="home">
  <div class="head">
    <img src="/assets/HorizontalLogo.png" class="logo" />
  </div>
  <hr />
  <div class="content">
    <div
      class="buttonContemplationAdministration"
      (click)="contemplationsAdministration()"
    >
      <img
        src="/assets/contemplacionHomeAdmin.png"
        class="imageContemplationHomeAdmin"
      />
      <h5>Administrar</h5>
    </div>
    <div class="buttonPauseAdministration" (click)="pausesAdministration()">
      <img src="/assets/pausaHomeAdmin.png" class="imagePauseHomeAdmin" />
      <h5>Administrar</h5>
    </div>
  </div>
</div>
