<body class="mainBody"  [ngStyle]="{'background-image': 'url('+urlImage+')'}">
  <app-navbar></app-navbar>
  <div class="content">
    <h2>{{dayIndex}} | {{title}}</h2>
    <h1>
      {{sentenceone}}
    </h1>
    <h1>
      {{sentencetwo}}
    </h1>
    <div class="content">
      <div class="audioContainer">
        <ul>
          <button class="writeNavButton" (click)="openFile(urlAudio)">
            Cargar Audio
          </button>
          <audio controls id="audio" >
            <source type="audio/mp3" />
          </audio>
        </ul>
      </div>

      <div class="considerationNavButtons" *ngIf="showSpam == true">
        <h5>
          Tómate un tiempo para valorar tu experiencia en la contemplación de
          hoy
        </h5>
        <button class="recordNavButton" (click)="showRecorder()">
          ¡Graba tu experiencia!
        </button>
        <button class="writeNavButton" (click)="showTextArea()">
          ¡Escribe tu experiencia!
        </button>
        <button class="skipNavButton" (click)="navContemplationMap()">
          ¡Lo hare más tarde!
        </button>
      </div>
      <div class="sliderContainer">
        <div *ngIf="showRec == true">
          <app-microphone-recorder></app-microphone-recorder>
        </div>
        <div *ngIf="showTex == true">
          <form class="formulario">
            <textarea
              id = "areaEscrita"
              rows="8"
              cols="50"
              maxlength="700"
              placeholder="Escribe tu reflexión"
            ></textarea>
            <button class="sendButton" (click)="saveTextConsideration()">
              <img src="/assets/saveIcon.png" />
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
