* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: small;
  //margin: 0px;
  //padding: 0px;
}

.mainBody {
  width: 100%;
  height: 95%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-image: url(/assets/Bosque.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  //color: #94cbffcc;
  //background-color: transparent;
  //margin: 0%;
  //position: initial;
  //text-align: center;
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-size: large;
  -webkit-text-stroke: 0.05px white;
  -webkit-text-fill-color: black;
  text-align: center;
}

.buttonsContainer {
  width: 90%;
  height: 85%;
  list-style: none;
  position: relative;
  display: flex;
  padding-bottom: 20%;
  left: 50px;
  flex-direction: row;
  justify-items: space-evenly;
  align-items: center;
  overflow-x: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.excerciseButton {
  //padding: 1.5rem;
  margin: 5px;
  width: 7rem;
  height: 7rem;
  padding-top: 2.5rem;
  font-size: smaller;
  background-color: rgb(31, 176, 195);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 100%;
  border-style: none;
}

.DesTopButton {
  position: relative;
  left: 40px;
}

.DesMidButton {
  position: relative;
  top: 140px;
}

.DesBotButton {
  position: relative;
  top: 240px;
}

.AscTopButton {
  position: relative;
}

.AscMidButton {
  position: relative;
  top: 140px;
}

.AscBotButton {
  position: relative;
  top: 240px;
}

.excerciseButtonDisable {
  //padding: 1.5rem;
  //padding-bottom: 1.5rem;
  margin: 5px;
  width: 7rem;
  height: 7rem;
  padding-top: 2.5rem;
  font-size: smaller;
  background-color: #aedddd;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 100%;
  border-style: none;
}

.excerciseButtonCompleted {
  //padding: 1.5rem;
  //padding-bottom: 1.5rem;
  margin: 5px;
  width: 7rem;
  height: 7rem;
  padding-top: 2.5rem;
  font-size: smaller;
  background-color: #84b6f4;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 100%;
  border-style: none;
}

@media (max-width: 1045px) {
  .buttonsContainer {
    align-items: center;
    width: 90%;
    height: 85%;
    //margin-top: 100px;
    left: 20px;
    //bottom: 20%;
    padding-bottom: 80%;
    display: flex;
    flex-direction: row;
  }

  .excerciseButton {
    padding: 1.5rem;
    //padding-bottom: 1.5rem;
    margin: 5px;
    width: 7rem;
    height: 7rem;
    padding-top: 2.5rem;
    font-size: smaller;
    background-color: rgb(31, 176, 195);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 100%;
    border-style: none;
  }

  .excerciseButtonDisable {
    padding: 1.5rem;
    //padding-bottom: 1.5rem;
    margin: 5px;
    width: 7rem;
    height: 7rem;
    padding-top: 2.5rem;
    font-size: smaller;
    background-color: #aedddd;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 100%;
    border-style: none;
  }

  .excerciseButtonCompleted {
    padding: 1.5rem;
    //padding-bottom: 1.5rem;
    margin: 5px;
    width: 7rem;
    height: 7rem;
    padding-top: 2.5rem;
    font-size: smaller;
    background-color: #84b6f4;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 100%;
    border-style: none;
  }
}
