<app-navbar></app-navbar>

<div class="mainBody">
  <h1>Tomate una pausa</h1>
  <table class="buttonsContainer">
    <tr *ngFor="let position of positions">
      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'top' &&
          position.column == '1'
        "
        class="excerciseButton DesTopButton"
        (click)="navSpiritualExcercise(position.name)"
      >
        Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'mid' &&
          position.column == '1'
        "
        class="excerciseButton DesMidButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'bot' &&
          position.column == '1'
        "
        class="excerciseButton DesBotButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'top' &&
          position.column == '1'
        "
        class="excerciseButtonDisable DesTopButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'mid' &&
          position.column == '1'
        "
        class="excerciseButtonDisable DesMidButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'bot' &&
          position.column == '1'
        "
        class="excerciseButtonDisable DesBotButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'top' &&
          position.column == '1'
        "
        class="excerciseButtonCompleted DesTopButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'mid' &&
          position.column == '1'
        "
        class="excerciseButtonCompleted DesMidButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'bot' &&
          position.column == '1'
        "
        class="excerciseButtonCompleted DesBotButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'top' &&
          position.column == '2'
        "
        class="excerciseButton AscTopButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'mid' &&
          position.column == '2'
        "
        class="excerciseButton AscMidButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable == position.completed &&
          position.even == 'bot' &&
          position.column == '2'
        "
        class="excerciseButton AscBotButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'top' &&
          position.column == '2'
        "
        class="excerciseButtonDisable AscTopButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'mid' &&
          position.column == '2'
        "
        class="excerciseButtonDisable AscMidButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.disable == 'true' &&
          position.even == 'bot' &&
          position.column == '2'
        "
        class="excerciseButtonDisable AscBotButton"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'top' &&
          position.column == '2'
        "
        class="excerciseButtonCompleted AscTopButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'mid' &&
          position.column == '2'
        "
        class="excerciseButtonCompleted AscMidButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

      <td
        *ngIf="
          position.disable != position.completed &&
          position.completed == 'true' &&
          position.even == 'bot' &&
          position.column == '2'
        "
        class="excerciseButtonCompleted AscBotButton"
        (click)="navSpiritualExcercise(position.name)"
      >
      Pausa {{ position.name }}
      </td>

           
    </tr>
  </table>
</div>
