<body class="mainBody">
    <app-navbar></app-navbar>
    <div class="content">
      <h2>Mi contemplación de {{dayIndex}}</h2>
      <div class="content">
            <div class="audioContainer" *ngIf="type =='audio'">
                <button class="refresh" (click)="openFile(url)">Recargar audio</button>  
                <audio *ngIf="this.url != ''" controls id="audio">
                    <source type="audio/mp3" />
                  </audio>
              </div>
            <div class="textArea" *ngIf="consideration.type=='text'">
                <p>{{textArea}}</p>
            </div>

        </div> 
      </div>
  </body>
