<header>
  <input type="checkbox" id="btn-menu" />
  <label for="btn-menu"><img src="/assets/IconMenu.png" /></label>
  <nav class="menu">
    <ul>
      <span>
        <img class="logoIcon" src="/assets/HorizontalLogo.png" />
      </span>
      <li>
        <a (click)="navHome()"><img src="/assets/IconHome.png" />Inicio</a>
      </li>
      <li>
        <a (click)="navContemplationMap()">Contemplaciones</a>
      </li>
      <li>
        <a (click)="navPauseMap()">Pausas</a>
      </li>
      <li>
        <a (click)="navProfile()">
          <img src="/assets/IconProfile.png" />Perfil
        </a>
      </li>
      <li>
        <a (click)="navSettings()">
          <img src="/assets/IconSettings.png" />Configuración
        </a>
      </li>
      <li>
        <a (click)="navLogout()">
          <img src="/assets/IconLogout.png" />Cerrar sesión
        </a>
      </li>
    </ul>
  </nav>
</header>
